*
{

}

html, body
{
    width: 100%;
    height: 100%;
    background: red;
}

#container
{
    top: 10%;
    bottom: 10%;
    background: linear-gradient(290deg, rgba(43,108,108,1) 10%, rgba(79,171,171,1) 30%, rgba(105,201,201,1)
                50%, rgba(78,169,169,1) 70%, rgba(43,108,108,1) 90%);
}