body
{
    background-image: url("../../github_font.png");
    background-size: contain;
    background-repeat: no-repeat;
}

#inscription_label
{
    color: white;
    font-size: 30px;
}

label
{
    font-weight: bold;
}

#form
{
    margin-top: 8%;
    height: 500px;
    width: 600px;
    background: linear-gradient(275deg, rgba(34,86,110,1) 0%, rgba(34,134,145,1) 50%, rgba(34,86,110,1) 100%);
    border-radius: 5px;
}